body {
  margin: 0;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 130px;
}

.banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../images/Banner\ Image.png);
  background-size: cover;
  border-radius: 16px;
  height: 600px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.banner-h3 {
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
}

.banner-h1 {
  color: #fff;
  width: 632px;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  margin-top: 0;
}

.promotion {
  text-align: center;
  font-family: Inter;
  margin: 0;
}

.promotion-off {
  margin: 120 0 0 0;
  color: #f00;
  font-size: 88px;
  font-weight: 700;
}

.promotion-deal {
  margin: 0 0 16 0;
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}

.promotion-categorie {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}

.welcome-party {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../images/Vectorrr.png);
  /* background-size: cover; */
  height: 600px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
  margin: 0 auto;
  border-radius: 16px;
}

.welcome-h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  width: 642px;
  letter-spacing: 7px;
  padding: 126px 0 0 126px;
}

.welcome-p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  width: 697px;
  padding: 24px 0 0 126px;
}

.welcome-btn {
  color: #fff;
  background: none;
  border: none;
  padding: 48px 0 0 158px;
  cursor: pointer;
}

.welcome-btn:hover {
  color: rgba(255, 255, 255, 0.726);
}

.venue-date {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 482px;
  /* margin: 0 auto; */
  margin: 120px auto 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 160px;
}

.place-time {
  color: #f00;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  /* margin-top: 100px; */
}

.place-time p {
  color: #070211;
  display: inline;
  line-height: 2;
}

.join-subs {
  color: #fff;
  background: #f00;
  border: none;
  width: 165px;
  border-radius: 8px;
  height: 56px;
  margin: 0 auto;
  margin-top: 5px;
}

footer {
  width: 100%;
  height: 320px;
  background: #070211;
}

.details {
  display: flex;
  justify-content: space-between;
}

.address,
.number,
.website {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}

.address {
  width: 250px;
  padding-top: 50px;
}

.social-link > hr {
  opacity: 0.2;
  width: 820px;
}

.social-link {
  padding-top: 150px;
}

.social-link > a {
  padding: 0 15px;
}

.number {
  padding-top: 40px;
}

.icon {
  margin-top: 50px;
}

.icon > img {
  padding: 0;
  margin: 0;
  padding-right: 50px;
}

.rights-unsubs {
  display: flex;
  justify-content: space-around;
  max-width: 1320px;
  width: 100%;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}

.coming-soonn {
  height: 735px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.soonn-h4 {
  color: #f00;
  text-transform: uppercase;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-right: 255px;
  padding-bottom: 16px;
  margin: 0;
}

.soonn-h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  padding-right: 135px;
  padding-bottom: 22px;
  margin: 0;
}

.soonn-p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  width: 393px;
  padding-right: 70px;
  margin: 0;
}

.coming-soon-img {
  width: 364.844px;
  height: 364.844px;
  border-radius: 463px;
  border: 15px solid #f00;
  padding: 15px;
}

.content-h3 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-left: 118px;
  padding-bottom: 16px;
  margin: 0;
}

.content-p {
  width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  padding-left: 118px;
  margin: 0;
}

.content-img {
  width: 140px;
  height: 140px;
  padding-left: 118px;
  padding-top: 43px;
}

.holiday-sale {
  text-align: center;
}

.holiday-h4 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 16px;
  margin: 0;
}

.holiday-h2 .holiday-span {
  color: #f00;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  padding-bottom: 28px;
}

.holiday-h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin: 0;
  padding-bottom: 28px;
}

.holiday-p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  width: 1068px;
  display: inline-block;
  margin: 0;
}

.holiday-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.surprise-box {
  width: 250px;
  height: 250px;
}

.portfolio {
  /* display: flex; */
  /* margin: 0 auto; */
}

.portfolio-h4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding-top: 155px;
  padding-bottom: 16px;
}

.portfolio-h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 22px;
}

.portfolio-p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  width: 895px;
  margin: 0;
}

.portfolio-img-1 {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* width: 425px;
  height: 450px; */
  border-radius: 16px;
  padding-top: 48px;
}

.portfolio-img-2 {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* width: 425px;
  height: 450px; */
  border-radius: 16px;
  border: 16px;
  /* padding: 10px; */
  padding-top: 24px;
}

.img-2 {
  margin: 0 24px;
}

.img-5 {
  margin: 0 24px;
}

.img-1:hover {
  cursor: pointer;
}
.img-2:hover {
  cursor: pointer;
}
.img-3:hover {
  cursor: pointer;
}
.img-4:hover {
  cursor: pointer;
}
.img-5:hover {
  cursor: pointer;
}
.img-6:hover {
  cursor: pointer;
}

.subs {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  height: 615px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subs-img {
  padding-bottom: 40px;
}

.subs-title {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  padding-bottom: 22px;
}

.subs-p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 896px;
  margin: 0;
  padding-bottom: 48px;
}

.subs-field {
  margin-right: 140px;
}

/* .subs-input {
  width: 230px;
  height: 40px;
  border-radius: 1px solid #000;
  background: transparent;
  color: #000;
  border-right: none;
  font-size: 16px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
} */

/* .subs-btn {
  width: 100px;
  height: 40px;
  color: #fff;
  background: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid #000;
  margin-top: 18px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
} */

.subs-input {
  width: 500px;
  height: 60px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  color: rgba(7, 2, 17, 0.3);
  /* padding-left: 10px; */
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

.subs-input:focus {
  outline: none;
}

.subs-btn {
  width: 180px;
  height: 60px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  background-color: #f00;
  color: #fff;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
}
