.banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../images/Banner\ Image.png);
  background-size: cover;
  border-radius: 16px;
  height: 600px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.banner-h3 {
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
}

.banner-h1 {
  color: #fff;
  width: 632px;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  margin-top: 0;
}

.promotion {
  text-align: center;
  font-family: Inter;
  margin: 0;
}

.promotion-off {
  margin: 120 0 0 0;
  color: #f00;
  font-size: 88px;
  font-weight: 700;
}

.promotion-deal {
  margin: 0 0 16 0;
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}

.promotion-categorie {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}

.welcome-party {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../images/Vectorrr.png);
  /* background-size: cover; */
  height: 600px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
  margin: 0 auto;
  border-radius: 16px;
}

.welcome-h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  width: 642px;
  letter-spacing: 7px;
  padding: 126px 0 0 126px;
}

.welcome-p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  width: 697px;
  padding: 24px 0 0 126px;
}

.welcome-btn {
  color: #fff;
  background: none;
  border: none;
  padding: 48px 0 0 158px;
  cursor: pointer;
}

.welcome-btn:hover {
  color: rgba(255, 255, 255, 0.726);
}

.venue-date {
  background-color: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 482px;
  /* margin: 0 auto; */
  margin: 120px 0 0 0;
  /* text-align: center; */
  /* display: flex; */
  /* flex-direction: column; */
}

.place-time {
  color: #f00;
}

.place-time p {
  color: #070211;
  display: inline;
}

.join-subs {
  color: #fff;
  background: #f00;
  border: none;
}

.venue-date .join-subs {
  border-radius: 8px;
}

.container {
  max-width: 1320px;
  width: 100%;
}

footer {
  width: 100%;
  height: 609px;
  background: #070211;
}

address {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  width: 375px;
  height: 80px;
  padding-top: 120px;
  padding-left: 140px;
}

.contact-details {
  color: #fff;
}

.coming-soonn {
  height: 735px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.soonn-h4 {
  color: #f00;
  text-transform: uppercase;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-right: 255px;
  padding-bottom: 16px;
  margin: 0;
}

.soonn-h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  padding-right: 135px;
  padding-bottom: 22px;
  margin: 0;
}

.soonn-p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  width: 393px;
  padding-right: 70px;
  margin: 0;
}

.coming-soon-img {
  width: 364.844px;
  height: 364.844px;
  border-radius: 463px;
  border: 15px solid #f00;
}

.content-h3 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-left: 118px;
  padding-bottom: 16px;
  margin: 0;
}

.content-p {
  width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  padding-left: 118px;
  margin: 0;
}

.content-img {
  width: 140px;
  height: 140px;
  padding-left: 118px;
  padding-top: 43px;
}
